[flake8]
ignore = C101,A005,Q000,I100,A003,I201,A002,E203
exclude =
    .git,
    __pycache__,
    venv,
    **/migrations/**,
filename = *.py
accept-encodings = utf-8
inline-quotes = single
max-complexity = 12
max-linenumber = 500
max-line-length = 120
multiline-quotes = double
