{% extends "layouts/default.html" %}

{% load modal %}
{% load icons %}

{% block content %}
    <div class="vstack gap-5 mb-5" data-project-list>
        {% for project in projects %}
            {% include "tasks/project/item.html" with project=project %}
        {% endfor %}
    </div>

    <div class="text-center">
        <a href="#" {% modalurl "tasks:project_create" %} class="btn btn-primary btn-lg shadow">
            {% ic "plus" %} Create Project
        </a>
    </div>
{% endblock content %}
