{% extends "layouts/default.html" %}


{% block content %}
    <div class="vstack gap-5 mb-5" data-project-list>
        {% for project in projects %}
            {% include "tasks/project/item.html" with project=project %}
        {% endfor %}
    </div>

    <div class="text-center">
        <a href="#" hx-get="{% url "tasks:project_create" %}" hx-target=".modal" class="btn btn-primary btn-lg shadow">
            <i class="bi bi-plus"></i> Create Project
        </a>
    </div>
{% endblock content %}
