{% extends "modal/base.html" %}

{% block title %}Sign out{% endblock %}

{% block body %}
    <form id="auth-form"
        hx-post="{{ request.path }}"
        hx-select=".card-body #auth-form"
        hx-swap="outerHTML"
        x-init="submitting = false; "
        @submit.prevent="submitting = true">
        {% csrf_token %}
        Do you really want to sign out?
    </form>
{% endblock %}

{% block footer %}
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    <input class="btn btn-danger" type="submit" value="Sign out" form="auth-form" :disabled="submitting"/>
{% endblock %}
